@import '../../../styles/variables';

.Portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    h3{
        font-size: $fs5;
        text-transform: uppercase;
        margin-bottom: $pxs3;
    }

    >div{
        width: 100%;
    }

}