@import '../../../styles/variables';

.HeaderProject{

    .slider{
        position: relative;
        width: 100%;
        margin-bottom: $pxs2;
    }

    .skills{
        display: flex;
        flex-wrap: wrap;
    }
    
}