@import '../../../styles/variables';

.Skill{
    color: white;
    padding: 6px 18px;
    border: 2px solid white;
    margin-right: $pxs1;
    margin-bottom: $pxs1;
    font-size: $fs1;
    cursor: default;

    @include mobile{
        margin-right: $pxs1;
    }
}

.Skill:hover{
    background-color: white;
    color: black;   
}