body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131313;
  color: white;
  font-family: Space Mono;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

::selection {
  background: #000000;
}
::-moz-selection {
  background: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

/* Clases para los proyectos */
:root {
  --mytaggie-light: #9401fd;
  --mytaggie-dark: #590099;
  --mytaggie: #7600cb;

  --atom8-light: #e846b2;
  --atom8-dark: #91105a;
  --atom8: #d6197a;

  --fluxq-light: #58809b;
  --fluxq-dark: #3c6580;
  --fluxq: #4b8cb3;

  --path-light: #374780;
  --path-dark: #242E50;
  --path: #004969;
}


a { color: inherit; text-decoration: none; } 


.mytaggie .pr-view:hover{
  color: #9401fd;
  border-bottom: 2px solid #9401fd;
}

.atom8 .pr-view:hover{
  color: #d6197a;
  border-bottom: 2px solid #d6197a;
}

.fluxq .pr-view:hover{
  color: #3c6580;
  border-bottom: 2px solid #3c6580;
}

.path .pr-view:hover{
  color: var(--path-light);
  border-bottom: 2px solid var(--path-light);
}

::placeholder {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

img{-webkit-user-drag: none;}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}